.registration-form {
  margin: 0 auto;
  width: 50%;
}

.registration-form input {
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid cadetblue;
}

.reg-text {
  color: blueviolet;
}

.submit-btn {
  background-color: #13aa52;
  color: white;
  font-weight: 600;
}
